@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-light-orange;
    @apply font-inter;
  }

  p {
    @apply my-4;
  }

  h1 {
    @apply text-[2.5rem];
    @apply font-bold;
    @apply ms-0;
    @apply me-0;
    @apply mt-4;
    @apply mb-4;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply ms-0;
    @apply me-0;
    @apply mt-4;
    @apply mb-4;
  }

  h3 {
    @apply text-2xl;
    @apply my-4;
    @apply font-bold;
  }

  h4 {
    @apply text-lg;
    @apply font-bold;
  }

  main {
    @apply mb-[5.25rem]
  }

  input {
    @apply border;
    @apply border-solid;
    @apply border-light-gray;
    @apply h-10;
    @apply indent-2.5;
    @apply font-inter;
    @apply font-normal;
    @apply placeholder-gray-500;
    @apply shadow-sm;
    @apply text-sm;
  }

  input:first-of-type {
    @apply rounded-tr-md;
    @apply rounded-tl-md;
  }

  input:last-of-type {
    @apply rounded-br-md;
    @apply rounded-bl-md;
  }

  nav {
    @apply flex;
    @apply items-center;
  }

  a {
    @apply no-underline;
    @apply text-dark-gray;
    @apply font-semibold;
  }

  a:hover {
    @apply hover:text-semi-black;
    @apply font-semibold;
  }

  footer {
    @apply bg-semi-black;
    @apply text-grayish;
    @apply flex;
    @apply shrink-0;
    @apply justify-center;
    @apply items-center;
    @apply mt-auto;
    @apply font-medium;
    @apply h-[4.7rem]
  }

  button:disabled {
    background-color: darkgray;
    cursor: not-allowed;
  }
}

@layer components {
  .link-button {
    @apply bg-semi-black text-white inline-block text-center border-none px-6 py-2 font-bold rounded-lg cursor-pointer transition-transform duration-100 ease-in-out hover:translate-x-px hover:translate-y-px;
  }

  .active-link {
    @apply font-bold underline text-semi-black;
  }

  .auth-container {
    @apply flex flex-col items-center px-7;
  }

  .auth-form {
    @apply flex flex-col w-full max-w-[31.2rem] mt-5;
  }
}

.home-hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: .8rem !important;
  width: 100% !important;
}